<div class="sticky-top d-flex align-content-center" style="background-color: rgba(233, 233, 121, 0.873);">
    <a href="/" class="active nav-link text-white">
        <h1 style="font-weight: 900; color: rgb(29, 124, 206); padding: 10px;">Origin Bank</h1>
    </a>
    <ul class="align-content-center container nav nav-pills justify-content-end">
        <li class="nav-item"><a class="btn btn-danger btn-outline-light" routerLink="/" (click)="onLogout()">Logout 
        </a>
    </li>
    </ul>
</div>